.tasks{
    flex:1;
    padding:60px;
    position: relative;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 12px;              
    }

    &::-webkit-scrollbar-track {
      background: #fff;        
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b2b2b2;   
      border-radius: 20px;      
      border: 3px solid #fff;  
    }


    &__title{
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color:#64c4ed;
      padding-bottom: 20px;
      border-bottom: 1px solid #f2f2f2;

      img{
        opacity: .0;
        margin-left: 15px;
  
        &:hover{
          opacity: .8;
          cursor: pointer;
        }
      }
      
      &:hover{
        img{
          opacity: .3;
        }
      }

      &-input{
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color:#64c4ed;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        outline: none;
        border:none;
      }
    }

    &__checkbox{

      input{
        display: none;

        &:checked + label{
          background-color: #4dd599;
          border-color: #4dd599;
          opacity: 1;
        }
      }

     label{
      border:2px solid #e8e8e8;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      
      img{
        position: relative;
        bottom: 1px;
      }

      &:hover{
        background: #b2b2b2;
        border-color: #b2b2b2;
        opacity: .4;
      }
     }
    }

    &__item{
      display: flex;
      align-items: center;
      margin-top: 30px;
      position: relative;
      cursor: pointer;

      p{
        margin-left:15px;
        font-size: 16px;
        font-weight: 500;
      }

      &:hover &-remove{
        display: block;
      }

      &-remove{
        position: absolute;
        right:0;
        cursor: pointer;
        display: none;
      }
    }

    .empty-task{
      font-size: 27px;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      text-align: center;

      &--all{
        position: static;
        top:auto;
        left:auto;
        transform:initial;
        display: block;
        text-align: left;
        padding:20px 0 0;
        font-size: 18px;
      }
    }
  }

  .allTasks{
    overflow-y: scroll;
    flex: 1 1;

    &::-webkit-scrollbar {
      width: 12px;              
    }

    &::-webkit-scrollbar-track {
      background: #fff;        
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b2b2b2;   
      border-radius: 20px;      
      border: 3px solid #fff;  
    }

    .tasks{
      overflow: auto;

    }
  }