.todo{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 600px;
  border-radius: 10px;
  border:1px solid #f4f6f8;
  box-shadow: 1px 2px 20px #f3f3f3;
  font-size: 14px;
  display: flex;
  
  .sidebar{
    background-color: #f4f6f8;
    width: 280px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding:60px 20px;
  }

}